@media screen and (min-width: 1000px) {
   
 .flex-container{
    flex-direction: row;
}


}

@media screen and (max-width: 1000px) {
body#About {
 text-align: center;
 margin: 0;

}.office{
    width: 80%;
    height: auto;
   
}
.flex-container{
    margin-left: 10%;
}


body#Contact{
    align-items: center;
    margin: 0;
}
.contact-container{
    margin-top: 0; 
    margin-left: 10%;
}
.Sir{
    display: none;
}


main#index{
    margin-top: 10%;
}
main#About{
    margin-top: 10%;
}


.nav_links li a{
    font-size: 24px;
    font-weight: 700;
}
.nav_links li {
    display: block;
    margin-bottom: 10px;
}
header {
    display: flex;
    flex-direction: column;
    text-align: center;
 
}
.logo {
    font-size: 3em;
    margin-bottom: 10px;
}

.icons i{
    display: none;
}

}